/* 
Color
Background 20, 33, 61 | #14213d 
Card 229, 229, 229 | #E5E5E5
Text 252, 163, 17 | #FCA311
*/

@font-face {
    font-family: "Cursed Timer ULiL Font";
    src: url(CursedTimerUlil-Aznm.ttf);
}

h1,
h2,
h3,
h4,
p {
    text-align: center;
    margin: 0.85em auto;
    line-height: 1em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vmin;
}

.container {
    width: 80vmin;
    background: #14213d;
    color: #e5e5e5;
    box-shadow: 0 0 1em black;
    border-radius: 1em;
    padding: 1em 0.1em;
}

.scoreboard-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.score-text {
    font-family: "Cursed Timer ULiL Font";
    color: #f94f6d;
    padding-top: 0.2em;
    font-size: 15vmin;
    margin: 0.1em auto;
}

.score {
    background: black;
}

.btn {
    font-family: "Cursed Timer ULiL Font";
    background: none;
    color: #9aabd8;
    border: 0.1em solid #9aabd8;
    padding: 0.3em;
    padding-bottom: 0.2em;
}

.score-btn {
    font-size: 5vmin;
    margin: 0.3em auto;
}

.reset-btn {
    font-size: 2vmin;
    margin: 0.75em 2em;
    margin-bottom: 0;
}

.btn:active {
    color: #f94f6d;
    border: 0.1em solid #f94f6d;
}
